<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.augmentum.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckState</servlet-name>
    <servlet-class>com.augmentum.servlet.CheckState</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBreakTime</servlet-name>
    <servlet-class>com.augmentum.servlet.GetBreakTime</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckPosition</servlet-name>
    <servlet-class>com.augmentum.servlet.CheckPosition</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMap</servlet-name>
    <servlet-class>com.augmentum.servlet.GetMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMapResource</servlet-name>
    <servlet-class>com.augmentum.servlet.GetMapResource</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadMap</servlet-name>
    <servlet-class>com.augmentum.servlet.UploadMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateResource</servlet-name>
    <servlet-class>com.augmentum.servlet.UpdateResource</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOtherState</servlet-name>
    <servlet-class>com.augmentum.servlet.GetOtherState</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOtherMap</servlet-name>
    <servlet-class>com.augmentum.servlet.GetOtherMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPlayerResource</servlet-name>
    <servlet-class>com.augmentum.servlet.GetPlayerResource</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuitOtherMap</servlet-name>
    <servlet-class>com.augmentum.servlet.QuitOtherMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckState</servlet-name>
    <url-pattern>/CheckState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBreakTime</servlet-name>
    <url-pattern>/GetBreakTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckPosition</servlet-name>
    <url-pattern>/CheckPosition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMap</servlet-name>
    <url-pattern>/GetMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMapResource</servlet-name>
    <url-pattern>/GetMapResource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMap</servlet-name>
    <url-pattern>/UploadMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateResource</servlet-name>
    <url-pattern>/UpdateResource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOtherState</servlet-name>
    <url-pattern>/GetOtherState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOtherMap</servlet-name>
    <url-pattern>/GetOtherMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPlayerResource</servlet-name>
    <url-pattern>/GetPlayerResource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitOtherMap</servlet-name>
    <url-pattern>/QuitOtherMap</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.augmentum.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataOperation</display-name>
    <servlet-name>DataOperation</servlet-name>
    <servlet-class>com.augmentum.servlet.DataOperation</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataOperation</servlet-name>
    <url-pattern>/DataOperation</url-pattern>
  </servlet-mapping>
</web-app>